<!DOCTYPE html>
<html style="font-family:Arial">
    <center>
    <head style="background-image: url('Euphoria.jpeg');" >
       <img src="nightware.png">
       
        
    </head>
    </center>
    <meta charset="UTF-8" />
    <body style="background-color:rgba(110, 76, 141, 0.52)">
        
        <center><h1>Nightware</h1>
        <h2>What is Nightware?</h2>
        <p>So like I know that you think your protected but like sorry mate ur ip is {{chad}}</p>
        <p>Nighware is a site to make buy and sell shit idk why mostly malware.</p>
        <p>So How the fuck am I gonna be able to make this work? well simple... im using a spoofed vps and a proxy and vpn that allows max security. </p>
        <h2>Next steps to moving forward as a group, site, programer or even developer or any limit.</h2>
        <a href="https://youtube.com"> Youtube page </a>
    </center>

         
        
        
    
        <center>
        <div class="row">
            <p></p>
            <img src="ransomware.jpg"  width="500" hight="300">
            <style align="right"> </style>
            <p style="font: size 18px;">.</p>
            
        </div>
        <div class="oing">
            <img src="Euphoria.jpeg" width="500" hight="300">
            <p>Think of this site</p>
        </div>
        </center>
    </div>
    </body>
</html>